<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Word Cup dashboards</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/shared.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	{% block head %}
	{% endblock %}
</head>

<body>

	<nav class="navigation-bar">
		<a id="logo" href="{{ url_for('home.home_page') }}">MB</a>
		<div id="hamburger" class="hamburger">
			<span class="lines"></span>
			<span class="lines"></span>
			<span class="lines"></span>
		</div>
		<ul id="nav-links">
			<li><img class="icon" src="/static/images/icons/team.svg" alt=""><a href="{{ url_for('teams.teams_selection') }}">Teams</a></li>
			<li><img class="icon" src="/static/images/icons/player.svg" alt=""><a href="{{ url_for('players.players_selection') }}">Players</a></li>
			<li><img class="icon" src="/static/images/icons/trophy.svg" alt=""><a href="{{ url_for('tournaments.tournament_details') }}">Tournaments</a></li>
			<li><img class="icon" src="/static/images/icons/stadium.svg" alt=""><a href="{{ url_for('matches.matches_list') }}">Matches</a></li>
		</ul>
	</nav>
	{% block content %}{% endblock %}
	<script src="{{ url_for('static', filename='scripts/navigationBar.js')}}"></script>
</body>

</html>

