{% import 'scorecard.html' as scorecard %}
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/matches.css') }}">
{% endblock head %}

{% block content %}

<section class="summary">
  {{ scorecard.scorecard(match) }}
</section>

<div class="events">
  <table>
    <tbody>
      {% for event in events %}
      <tr>
        <td {% if event.home_team==1 %} class="left" {% else %} class="right" {% endif %}>
          {% if event.type=="red card" %}
          <img src="/static/images/icons/red_card.png" alt="Red card">
          {% elif event.type=="yellow card" %}
          <img src="/static/images/icons/yellow_card.png" alt="Yellow card">
          {% elif event.type=="sub in" %}
          <img src="/static/images/icons/sub in.jpg" alt="Substitution">
          {% elif event.type=="sub out" %}
          <img src="/static/images/icons/sub out.jpg" alt="Substitution">
          {% elif event.type=="goal" %}
          <img src="/static/images/icons/goal.png" alt="Goal">
          {% endif %}
          <a class="name" href="{{url_for('players.player_details', player_id=event.player_id)}}">{{ event.player_name
            }}</a><br>
          <span class="minute">{{ event.minute_label }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<section class="squads-section">
  <div class="squads">
    <div class="team-squad">
      {% for player in squads %}
      <span>{{player.shirt_number}}
        <a href="{{url_for('players.player_details', player_id=player.player_id)}}">{{player.player_name}}</a>
      </span>
      {% endfor %}
    </div>

    <div class="team-squad">
      {% for player in squads %}
      <span>{{player.shirt_number}}
        <a href="{{url_for('players.player_details', player_id=player.player_id)}}">{{player.player_name}}</a>
      </span>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}