{% import 'tournaments_dropdown.html' as dropdown %}
{% import 'scorecard.html' as scorecard %}
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/matches.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dropdown_button.css') }}">
{% endblock head %}

{% block content %}

<div class="dropdown-centered">
    {{ dropdown.tournaments(selected_tournament, tournaments) }}
</div>

{% for match_date, matches_of_date in matches.items()%}
<button type="button" class="accordion match-date-header">{{match_date}}</button>
<div class="panel">
    {% for match in matches_of_date%}
    <div class="scoreboard-container dashboard-container">
        <a href="{{url_for('matches.match_details', match_id=match.match_id)}}">
            {{ scorecard.scorecard(match, False, False) }}
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}

<script src="{{ url_for('static', filename='scripts/accordion.js')}}"></script>
{% endblock content %}