{% extends "main.html" %}

{% block content %}

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Name</b>: {{player.name}}</li>
    <li class="list-group-item"><b>Nationality: </b>{{player.team}}</li>
    <li class="list-group-item"><b>Position</b>: {{player.position}}</li>
    <li class="list-group-item"><b>Date of birth</b>: {{player.birth_date}}</li>
  </ul>
</div>
<div id='chart' class='chart'>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
      var graphs = {{ goals_by_team | safe}};
      Plotly.plot('chart', graphs,{});
  </script>
</div>


{% endblock content %}