{% extends "main.html" %}

{% block content %}{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">

{% endblock head %}

<form id="player-searching-form" method="post">
    <input type="text" name="player" id="player" class="searching-bar" placeholder=" Player's name"
      aria-label="Player's username">
    <input type="submit" class="submit-button" value="Search">
</form>

<table id="player-table" class="table-data center">
  <thead class="table-header">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Nationality</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    {%for player in players%}
    <tr class="row-on-hover-grey">
      <td>
        <a href=" {{ url_for('players.player_details', player_id=player.PlayerId)}}"> {{player.Name}}</a>
      </td>
      <td>
        <a href=" {{ url_for('teams.team_details', team_id=player.team_id)}}"> {{player.nationality}}</a>
      </td>
      <td>{{player.position}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock content %}