{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
{% endblock head %}

{% block content %}
<div class="container">
  <div class="profile-pic">
    <img class="player-pic" src="https://via.placeholder.com/150" alt="Profile Picture">
  </div>
  <div class="user-info">
    <h1>{{data["player"].name}}</h1>
    <a href="{{url_for('teams.team_details', team_id=data['player'].team_id)}}"><h2>{{data["player"].team}}</h2></a>
    <p><span>Date of Birth:</span> {{data["player"].birth_date}}</p>
    <p><span>Position:</span> {{data["player"].position}}</p>
    </div>
</div>

<div class="pitch-positions">
  <img src="/static/pitch.png" alt="player positions">
  {% for position in data["positions"] %}
    {% if position=='forward' %}
    <div class="marker forward">FW</div>
    {% elif position=='left winger'%}
    <div class="marker left-winger">LW</div>
    {% elif position=='right winger'%}
    <div class="marker right-winger">RW</div>
    {% elif position=='attacking midfielder'%}
    <div class="marker attacking-midfielder">AMF</div>
    {% elif position=='center midfielder'%}
    <div class="marker center-midfielder">CM</div>
    {% elif position=='defensive midfielder'%}
    <div class="marker defensive-midfielder">DM</div>
    {% elif position=='center back'%}
    <div class="marker center-back">CB</div>
    {% elif position=='left back'%}
    <div class="marker left-back">LB</div>
    {% elif position=='right back'%}
    <div class="marker right-back">RB</div>
    {% else %}
    <div class="marker goalkeeper">GK</div>
    {% endif %}
  {% endfor %}
</div>

{% if data["appearances_summary"] %}
<table id="player-appearances-summary" class="table-data center">
  <thead>
    <tr>
      <th scope="col">Tournament</th>
      <th scope="col">Number of matches</th>
      <th scope="col">Goals</th>
      <th scope="col">Yellow Cards</th>
      <th scope="col">Red Cards</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data["appearances_summary"] %}
    <tr class="row-on-hover-grey">
      <td>{{row.tournament}}</td>
      <td>{{row.number_of_matches}}</td>
      <td>{{row.number_of_goals}}</td>
      <td>{{row.yellow_cards}}</td>
      <td>{{row.red_cards}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endif%}



<!-- <div id="player-matches-section">

  <div class="pie-chart">
    <h1>Number of minutes on the pitch and bench</h1>
    <div id="minutes-played-pie" class="plotly-chart">
      <script>
        var graphs = {{ minutes_played | safe}};
        graphs.config = {'displayModeBar': false, 'responsive': true};
        Plotly.plot('minutes-played-pie', graphs, {displayModeBar: false});
      </script>
    </div>
  </div>

  <div class="pie-chart">
    <h1>Number of games in starting 11 and as a substitution</h1>
    <div id="starter-or-substitute-pie" class="plotly-chart">
      <script>
        var graphs = {{ starer_or_sub | safe}};
        graphs.config = {'displayModeBar': false, 'responsive': true};
        Plotly.plot('starter-or-substitute-pie', graphs, {displayModeBar: false});
      </script>
    </div>
  </div>
</div>

<div id="player-goals-section">

  <div id="player-goals-cards-section">
    <div class="dashboard-card">
      <h3>3</h3>
      <p>Goals scored overall</p>
    </div>
    <div class="dashboard-card">
      <h3>0.28</h3>
      <p>Goals per game ratio</p>
    </div>
    <div class="dashboard-card">
      <h3>60</h3>
      <p>Average minutes to score a goal</p>
    </div>
  </div>

  {% if data["stats"].goals>0 %}
  <h4>Number of goals scored against different teams</h4>
  <div id="chart" class="chart">
    <script>
      var graphs = {{ visualizations["goals_by_team"] | safe}};
      graphs.config = {'displayModeBar': false, 'responsive': true};
      Plotly.plot('chart', graphs, {displayModeBar: false});
    </script>
  </div>
  {% endif %}
</div>

<div id="player-awards-section">
  {% if data["awards"] %}
  <h1>Individual awards</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Award</th>
        <th scope="col">Description</th>
        <th scope="col">Tournament</th>
      </tr>
    </thead>
    <tbody>
      {% for award in data["awards"] %}
      <tr>
        <td>{{award.name}}</td>
        <td>{{award.description}}</td>
        <td>{{award.year + " " + award.country}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div> -->
{% endblock content %}