{% macro scorecard(data) %}

<div class="scorecard">
    <div class="team">
        <a href="{{url_for('teams.team_details', team_id=data.home_team_id)}}">{{data.home_team_name}}</a>
        <img src="{{url_for('teams.display_flag', team_id=data.home_team_id)}}" alt="{{data.home_team_name}}">
    </div>
    <div class="match-result">
        <span class="date">{{data.match_date}}</span>
        <span class="score">{{data.score}}</span>
    </div>
    <div class="team">
        <a href="{{url_for('teams.team_details', team_id=data.away_team_id)}}">{{data.away_team_name}}</a>
        <img src="{{url_for('teams.display_flag', team_id=data.away_team_id)}}" alt="{{data.away_team_name}}">
    </div>
</div>

{% endmacro %}