{% extends "main.html" %}
{% block content %}

<div class="container">
  <div class="profile-pic">
    <img class="country-flag" src="{{url_for('.display_flag', team_id=data['team'].team_id)}}" alt="Profile Picture">
  </div>
  <div class="user-info">
    <h1>{{data["team"].team_name}}</h1>
    <h2>{{data["team"].region_name}}</h2>
  </div>
</div>

<div class="team-cards-container">
  <div class="dashboard-card">
    <h3>{{data["goals_and_matches"].number_of_matches}}</h3>
    <p>Games played</p>
  </div>

  <div class="dashboard-card">
    <h3>{{data["goals_and_matches"].number_of_tournaments}}</h3>
    <p>Different tournaments</p>
  </div>

  <div class="dashboard-card">
    <h3>{{data["goals_and_matches"].goals_scored}}</h3>
    <p>Goals scored</p>
  </div>

  <div class="dashboard-card">
    <h3>{{data["goals_and_matches"].goals_conceeded}}</h3>
    <p>Goals conceeded</p>
  </div>
</div>

<div id="team-by-tournaments">
  <table id="team-tournaments-stages-table" class="table-data center">
    <thead>
      <tr>
        <th scope="col">Tournament</th>
        <th scope="col">Number of matches</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      {%for row in data["position_by_tournament"]%}
      <tr class="row-on-hover-grey">
        <td><a href="{{url_for('tournaments.tournament_details')}}">{{row.tournament_name}}</a></td>
        <td>{{row.count_matches}}</td>
        <td>{{row.position}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<div id="team-matches-section">
  <div class="grid-container">

    <div id="team-matches-results" class="dashboard-container">
      <h3>Matches results</h3>
      <div id="team-matches-results-pie" class="chart">
        <script>
          var graphs = {{ visualizations["matches_results"] | safe}};
          var layout = { autosize: true }
          graphs.config = { 'displayModeBar': false, 'responsive': true };
          Plotly.plot('team-matches-results-pie', graphs, layout);
        </script>
      </div>
    </div>

    <div id="all-matches-of-team" class="dashboard-container">
      <h3>Result of games</h3>
      The height of the column represents the goals difference of final score.
      <div id="all-matches-bar" class="chart">
        <script>
          var graphs = {{ visualizations["matches_chart"] | safe}};
          graphs.config = { 'displayModeBar': false, 'responsive': true };
          Plotly.plot('all-matches-bar', graphs, {});

        </script>
      </div>
    </div>


    <div id="minutes-by-players" class="dashboard-container">
      <h3>Players with the most minutes played</h3>
      Top 20 players who spend the largest amount of minutes on the pitch
      <div id="minutes-by-player-treemap" class="chart">
        <script>
          var graphs = {{ visualizations["most_minutes_by_player"] | safe}};
          graphs.config = { 'displayModeBar': false, 'responsive': true };
          Plotly.plot('minutes-by-player-treemap', graphs, {});
        </script>
      </div>
    </div>


    <div id="team-top-scorers-container">
      <h3>Best scorers</h3>
      <table id="team-top-scorers-table" class="table-data">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Number of goals</th>
          </tr>
        </thead>
        <tbody>
          {%for scorer in data["top_scorers"]%}
          <tr class="row-on-hover-grey">
            <td><a href="{{url_for('players.player_details', player_id=scorer.player_id)}}">
                {{scorer.player_name}}</a></td>
            <td>{{scorer.goals_number}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

    <div id="goals-by-opponent" class="dashboard-container">
      <h3>Goals scored againts different teams</h3>
      <div id="goals-by-opponent-bar" class="chart">
        <script>
          var graphs = {{ visualizations["goals_by_opponent"] | safe}};
          graphs.config = { 'displayModeBar': false, 'responsive': true };
          Plotly.plot('goals-by-opponent-bar', graphs, {});
        </script>
      </div>
    </div>

    <div id="team-goals-by-tournament" class="dashboard-container">
      <h3>Goals scored by a tournament</h3>
      <div id="goals-by-tournament-pie" class="chart">
        <script>
          var graphs = {{ visualizations["goals_by_tournament"] | safe}};
          graphs.config = { 'displayModeBar': false, 'responsive': true };
          Plotly.plot('goals-by-tournament-pie', graphs, {});
        </script>
      </div>
    </div>

    <div id="team-records">
      <div id="team-biggest-defeat-container">
        <h3>Biggest defeat</h3>
        <table id="team-biggest-defeat-table" class="table-data">
          <thead>
            <tr>
              <th scope="col">Tournament</th>
              <th scope="col">Opponent</th>
              <th scope="col">Date</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {%for row in data["biggest_defeat"]%}
            <tr class="row-on-hover-grey">
              <td>{{row.tournament_name}}</td>
              <td>
                <a href="{{url_for('teams.team_details', team_id=row.opponent_id)}}">{{row.opponent_name}}</a>
              </td>
              <td>{{row.match_date}}</td>
              <td>{{row.score}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      {% if data["biggest_win"] %}
      <div id="team-biggest-win-container">
        <h3>Biggest win</h3>
        <table id="team-biggest-win-table" class="table-data">
          <thead>
            <tr>
              <th scope="col">Tournament</th>
              <th scope="col">Opponent</th>
              <th scope="col">Date</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {%for row in data["biggest_win"]%}
            <tr class="row-on-hover-grey">
              <td>{{row.tournament_name}}</td>
              <td>
                <a href="{{url_for('teams.team_details', team_id=row.opponent_id)}}">{{row.opponent_name}}</a>
              </td>
              <td>{{row.match_date}}</td>
              <td>{{row.score}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

  </div>
</div>
{% endblock content %}