{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team.css') }}">
{% endblock head %}

{% block content %}
<h1 id="team-selection-header">Select the Team</h1>

<div class="team-selector">
  <input type="search" autocomplete="off" class="input-text" placeholder="Country name">
  <ul class="dropdown-content">
    {% for team in teams%}
    <li><a tabindex="0" href="{{ url_for('teams.team_details', team_id=team.team_id) }}"><div class="link">{{ team.team_name }}</div></a></li>
    {% endfor %}
  </ul>
</div>

<script src="{{ url_for('static', filename='scripts/countries_selector.js')}}"></script>
{% endblock content %}