{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='team.css') }}">
{% endblock head %}

{% block content %}
<h1>Select the Team</h1>

  <form method="post">
  <label for="dropdown-list"></label>
  <select class="dropdown-list" name="teams-dropdown" id="teams-dropdown">
    {% for team in teams%}
      <option value="{{team.team_id}}">{{team.team_name}}</option>
    {% endfor %}
  </select>

  <button type="submit" class="submit-button">Go</button>
  </form>
{% endblock content %}