{% import 'scorecard.html' as scorecard %}
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team.css') }}">
{% endblock head %}

{% block content %}
<div class="container">
  <div class="profile-pic">
    <img class="country-flag" src="{{url_for('.display_flag', team_id=data['team'].team_id)}}" alt="{{data['team'].team_name}} flag">
  </div>
  <div class="user-info">
    <h1>{{data["team"].team_name}}</h1>
    <h2>{{data["team"].region_name}}</h2>
  </div>
</div>

<table id="tournaments-stages" class="table-data center">
  <thead>
    <tr>
      <th scope="col">Tournament</th>
      <th scope="col">Number of matches</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    {%for row in data["position_by_tournament"]%}
    <tr class="row-on-hover-grey">
      <td class="expand">{{row.tournament_name}}</td>
      <td>{{row.count_matches}}</td>
      <td>{{row.performance}} {% if "group" in row.performace %} ({{row.group_position}} position) {% endif %}</td>
    </tr>
    <tr class="hidden">
      <td colspan="3">
        {% for match in data["matches"][row.tournament_id] %}
        {{ scorecard.scorecard(match) }}
        {% endfor %}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<div class="grid-container">

  <div id="team-matches-results" class="dashboard-container">
    <h3>Matches results</h3>
    <div id="team-matches-results-pie" class="chart">
      <script>
        var graphs = {{ visualizations["matches_results"] | safe}};
        var layout = { autosize: true }
        graphs.config = { 'displayModeBar': false, 'responsive': true };
        Plotly.plot('team-matches-results-pie', graphs, layout);
      </script>
    </div>
  </div>

  <div id="all-matches-of-team" class="dashboard-container">
    <h3>Result of games</h3>
    The height of the column represents the goals difference of final score.
    <div id="all-matches-bar" class="chart">
      <script>
        var graphs = {{ visualizations["matches_chart"] | safe}};
        graphs.config = { 'displayModeBar': false, 'responsive': true };
        Plotly.plot('all-matches-bar', graphs, {});
      </script>
    </div>
  </div>

  <div id="minutes-by-players" class="dashboard-container">
    <h3>Players with the most minutes played</h3>
    Top 20 players who spend the largest amount of minutes on the pitch
    <div id="minutes-by-player-treemap" class="chart">
      <script>
        var graphs = {{ visualizations["most_minutes_by_player"] | safe}};
        graphs.config = { 'displayModeBar': false, 'responsive': true };
        Plotly.plot('minutes-by-player-treemap', graphs, {});
      </script>
    </div>
  </div>

  {% if data["top_scorers"] %}
  <table id="top-scorers" class="table-data">
    <caption>Best scorers</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number of goals</th>
      </tr>
    </thead>
    <tbody>
      {%for scorer in data["top_scorers"]%}
      <tr class="row-on-hover-grey">
        <td><a href="{{url_for('players.player_details', player_id=scorer.player_id)}}">
            {{scorer.player_name}}</a></td>
        <td>{{scorer.goals_number}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {% endif %}

  {% if visualizations["goals_by_opponent"] %}
  <div id="goals-by-opponent" class="dashboard-container">
    <h3>Goals scored againts different teams</h3>
    <div id="goals-by-opponent-bar" class="chart">
      <script>
        var graphs = {{ visualizations["goals_by_opponent"] | safe}};
        graphs.config = { 'displayModeBar': false, 'responsive': true };
        Plotly.plot('goals-by-opponent-bar', graphs, {});
      </script>
    </div>
  </div>
  {% endif %}

  {% if visualizations["goals_by_tournament"] %}
  <div id="team-goals-by-tournament" class="dashboard-container">
    <h3>Goals scored by a tournament</h3>
    <div id="goals-by-tournament-pie" class="chart">
      <script>
        var graphs = {{ visualizations["goals_by_tournament"] | safe}};
        graphs.config = { 'displayModeBar': false, 'responsive': true };
        Plotly.plot('goals-by-tournament-pie', graphs, {});
      </script>
    </div>
  </div>
  {% endif %}

  <div id="team-records">

    <div id="biggest-defeat" class="scoreboard-container dashboard-container">
      <h3>Biggest defeat</h3>
      <div class="scorecard">
        <div class="team">
          <a
            href="{{url_for('teams.team_details', team_id=data['team'].team_id)}}">{{data["team"].team_name}}</a>
          <img src="{{url_for('teams.display_flag', team_id=data['team'].team_id)}}"
            alt="{{data['team'].team_name}}">
        </div>
        <div class="match-result">
          <span class="date">{{data["biggest_defeat"][0].match_date}}</span>
          <span class="score">{{data["biggest_defeat"][0].score}}</span>
        </div>
        <div class="team">
          <a
            href="{{url_for('teams.team_details', team_id=data['biggest_defeat'][0].opponent_id)}}">{{data["biggest_defeat"][0].opponent_name}}</a>
          <img src="{{url_for('teams.display_flag', team_id=data['biggest_defeat'][0].opponent_id)}}"
            alt="{{data['biggest_defeat'][0].opponent_name}}">
        </div>
      </div>
    </div>

    {% if data["biggest_win"] %}
    <div id="biggest_win" class="scoreboard-container dashboard-container">
      <h3>Biggest win</h3>
      <div class="scorecard">
        <div class="team">
          <a
            href="{{url_for('teams.team_details', team_id=data['team'].team_id)}}">{{data["team"].team_name}}</a>
          <img src="{{url_for('teams.display_flag', team_id=data['team'].team_id)}}"
            alt="{{data['team'].team_name}}">
        </div>
        <div class="match-result">
          <span class="date">{{data["biggest_win"][0].match_date}}</span>
          <span class="score">{{data["biggest_win"][0].score}}</span>
        </div>
        <div class="team">
          <a
            href="{{url_for('teams.team_details', team_id=data['biggest_win'][0].opponent_id)}}">{{data["biggest_win"][0].opponent_name}}</a>
          <img src="{{url_for('teams.display_flag', team_id=data['biggest_win'][0].opponent_id)}}"
            alt="{{data['biggest_win'][0].opponent_name}}">
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<script src="{{ url_for('static', filename='scripts/collapsible_table.js')}}"></script>
{% endblock content %}