{% extends "main.html" %}
{% block content %}


<div class="dropdown">
  <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
      {% if tournament_id %} {{tournament_id}}
      {% else %} 
      Filter a tournament 
      {% endif %}
  </button>
  <ul class="dropdown-menu">
    {%for tournament in tournaments%}
    <li><a href="{{'?id='+tournament.tournament_id}}">{{tournament.year + " - " +tournament.host_country}}</a></li>
    {%endfor%}
  </ul>
</div>

{% if not tournament_id %}
  <h1>Number of goals and games in different years</h1>
  <div id='chart' class='chart'>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{ goals_by_tournament | safe}};
        Plotly.plot('chart', graphs,{},);
    </script>
  </div>
{% endif %}


<h1> Most goals in a single match</h1>
{{most_goals_in_single_game}}

<h1> Most bookings in a single match</h1>
{{most_cards_in_single_game}}
<h1> Top scorers </h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Nationality</th>
        <th scope="col">Goals Scored</th>
      </tr>
    </thead>
    <tbody>
      {% for scorer in top_scorers %}
      <tr>
        <td><a href="{{url_for('player_details', player_id=scorer.player_id)}}">{{scorer.player_name}}</a></td>
        <td><a href="{{url_for('team_details', team_name=scorer.team_id)}}">{{scorer.team}}</a></td>
        <td>{{scorer.goals}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
  document.addEventListener("DOMContentLoaded", function(event) {
  var dropdown = document.querySelector(".dropdown");
  var button = dropdown.querySelector(".dropdown-toggle");
  var menu = dropdown.querySelector(".dropdown-menu");

  function toggleMenu() {
    if (menu.getAttribute("aria-hidden") === "true") {
      menu.setAttribute("aria-hidden", "false");
      button.setAttribute("aria-expanded", "true");
      menu.style.display = "block";
    } else {
      menu.setAttribute("aria-hidden", "true");
      button.setAttribute("aria-expanded", "false");
      menu.style.display = "none";
    }
  }

  button.addEventListener("click", toggleMenu);
  dropdown.addEventListener("keydown", function(event) {
    if (event.code === "Space" || event.code === "Enter") {
      event.preventDefault();
      toggleMenu();
    }
  });
  document.addEventListener("click", function(event) {
    if (!dropdown.contains(event.target)) {
      menu.setAttribute("aria-hidden", "true");
      button.setAttribute("aria-expanded", "false");
      menu.style.display = "none";
    }
  });
});
  </script>
{% endblock content %}