{% import 'tournaments_dropdown.html' as dropdown %}
{% import 'scorecard.html' as scorecard %}
{% import 'plot.html' as plot %}
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tournament.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dropdown_button.css') }}">
{% endblock head %}

{% block content %}
<h1>Statistics of tournaments</h1>

<div class="button-centered">
  {{ dropdown.tournaments(data["tournament"], data["tournaments_list"]) }}
</div>

<div class="reports-container">

  <div class="left-col">
    <div id="goals-difference-by-team-container" class="dashboard-container">
      {{ plot.plot(visualizations["goals_difference"], "goals-difference-by-team", "Goals difference by a team") }}
    </div>

    <div id="goals-by-minutes-container" class="dashboard-container">
      {{ plot.plot(visualizations["goals_by_minutes"], "goals-by-minutes-hist", "Goals scored by minutes") }}
    </div>
  </div>


  <div class="right-col">

    <div id="most-goals-in-single-game-container" class="scoreboard-container dashboard-container">
      <h3>Most goals in a single match</h3>
      <a href="{{url_for('matches.match_details', match_id=data['most_goals_in_single_game'][0].match_id)}}">
        {{ scorecard.scorecard(data["most_goals_in_single_game"][0], False) }}
      </a>
    </div>

    {% if data["most_cards_in_single_game"] %}
    <div class="scoreboard-container dashboard-container">
      <h3> Most cards in a single match</h3>
      <a href="{{url_for('matches.match_details', match_id=data['most_cards_in_single_game'].match_id)}}">
        <div class="scorecard">
          <div class="team">
            {{data["most_cards_in_single_game"].home_team_name}}
            <img src="{{url_for('teams.display_flag', team_id=data['most_cards_in_single_game'].home_team_id)}}"
              alt="{{data['most_cards_in_single_game'].home_team_name}}">
          </div>
          <div class="match-result">
            <span class="date">{{data["most_cards_in_single_game"].match_date}}</span>
            <span class="score">{{data["most_cards_in_single_game"].score}}</span>
            <div class="cards">
              <span class="cards">Yellow cards: {{data["most_cards_in_single_game"].yellow_cards}}</span>
              <span class="cards">Red cards: {{data["most_cards_in_single_game"].red_cards}}</span>
            </div>
          </div>
          <div class="team">
            {{data["most_cards_in_single_game"].away_team_name}}
            <img src="{{url_for('teams.display_flag', team_id=data['most_cards_in_single_game'].away_team_id)}}"
              alt="{{data['most_cards_in_single_game'].away_team_name}}">
          </div>
        </div> 
      </a>
    </div>
    {% endif %}

    {% if data["top_scorers"] %}
    <table class="table-data center">
      <caption>Top scorers</caption>
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Nationality</th>
          <th scope="col">Goals Scored</th>
        </tr>
      </thead>
      <tbody>
        {% for scorer in data["top_scorers"] %}
        <tr class="row-on-hover-grey">
          <td><a href="{{url_for('players.player_details', player_id=scorer.player_id)}}">{{scorer.player_name}}</a>
          </td>
          <td><a href="{{url_for('teams.team_details', team_id=scorer.team_id)}}">{{scorer.team}}</a></td>
          <td>{{scorer.goals}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>
</div>
{% endblock content %}