{% import 'scorecard.html' as scorecard %}
{% import 'plot.html' as plot %}
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team.css') }}">
{% endblock head %}

{% block content %}
<div class="container">
  <div class="profile-pic">
    <img class="country-flag" src="{{ url_for('.flag', team_id=data['team'].team_id) }}" alt="{{ data['team'].team_name }} flag">
  </div>
  <div class="user-info">
    <h1>{{ data["team"].team_name }}</h1>
    <h2>{{ data["team"].region_name }}</h2>
  </div>
</div>

<table id="tournaments-stages" class="table-data center">
  <thead>
    <tr>
      <th scope="col">Tournament</th>
      <th scope="col">Number of matches</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data["position_by_tournament"] %}
    <tr class="row-on-hover-grey">
      <td class="expand">{{ row.tournament_name }}</td>
      <td>{{ row.count_matches }}</td>
      <td>{{ row.performance }} {% if "group" in row.performace %} ({{row.group_position}} position) {% endif %}</td>
    </tr>
    <tr class="hidden">
      <td colspan="3">
        {% for match in data["matches"][row.tournament_id] %}
        <a href="{{url_for('matches.match_details', match_id=match.match_id)}}">
          {{ scorecard.scorecard(match, False, True) }}
        </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="reports-container">

  <div id="team-matches-results" class="dashboard-container">
    {{ plot.plot(visualizations["matches_results"], "team-matches-results-pie", "Matches results") }}
  </div>

  <div id="all-matches-of-team" class="dashboard-container">
    {{ plot.plot(
        visualizations["matches_chart"],
        "all-matches-bar", "Result of games",
        "The height of the column represents the goals difference of final score") }}
    </div>

  {% if visualizations["most_minutes_by_player"] %}
  <div id="minutes-by-players" class="dashboard-container">
    {{ plot.plot(
      visualizations["most_minutes_by_player"],
      "minutes-by-player-treemap", "Players with the most minutes played",
      "Top 20 players who spend the largest amount of minutes on the pitch") }}
  </div>
  {% endif %}

  {% if data["top_scorers"] %}
  <table id="top-scorers" class="table-data">
    <caption>Best scorers</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number of goals</th>
      </tr>
    </thead>
    <tbody>
      {% for scorer in data["top_scorers"] %}
      <tr class="row-on-hover-grey">
        <td><a href="{{url_for('players.player_details', player_id=scorer.player_id)}}">
            {{ scorer.player_name }}</a></td>
        <td>{{ scorer.goals }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if visualizations["goals_by_opponent"] %}
  <div id="goals-by-opponent" class="dashboard-container">
    {{ plot.plot(visualizations["goals_by_opponent"], "goals-by-opponent-bar", "Goals scored againts different teams") }}
  </div>
  {% endif %}

  {% if visualizations["goals_by_tournament"] %}
  <div id="team-goals-by-tournament" class="dashboard-container">
    {{ plot.plot(visualizations["goals_by_tournament"], "goals-by-tournament-pie", "Goals scored by a tournament") }}
  </div>
  {% endif %}

  <div id="team-records">

    <div id="biggest-defeat" class="scoreboard-container dashboard-container">
      <h3>Biggest defeat</h3>
      <a href="{{url_for('matches.match_details', match_id=data['biggest_defeat'].match_id)}}">
        {{ scorecard.scorecard(data["biggest_defeat"], False) }}
      </a>
    </div>

    {% if data["biggest_win"] %}
    <div id="biggest_win" class="scoreboard-container dashboard-container">
      <h3>Biggest win</h3>
      <a href="{{url_for('matches.match_details', match_id=data['biggest_win'].match_id)}}">
        {{ scorecard.scorecard(data["biggest_win"], False) }}
      </a>

    </div>
    {% endif %}

  </div>
</div>

<script src="{{ url_for('static', filename='scripts/collapsible_table.js')}}"></script>
{% endblock content %}