:root {
	--blue-accent-color: #1e0461;
	--grey-border-color: rgb(167, 169, 170);
	--light-grey-border-color: rgb(210, 213, 214);
	--grey-backgroud-color: rgb(246, 246, 247);
}

body {
	background-color: var(--grey-backgroud-color);
}

.center {
	margin: 0 auto;
}

#team-searching h1 {
	margin: 10% 0 5% 0;
	text-align: center;
}

#team-searching input {
	display: inline-block;
	align-items: center;
	height: 40px;
	justify-content: center;
	margin: 0 10px 0 5%;
	width: 80%;
}

.submit-button {
	background-color: var(--blue-accent-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	display: inline-block;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
	padding: 10px 20px;
	width: 80px;
}

.submit-button:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	transform: translateY(-3px);
}


a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--blue-accent-color);
}

#player-searching-form {
	margin-top: 3%;
}

.dropdown-list {
	height: 40px;
	margin-left: 5%;
	margin-right: 2%;
	width: 80%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-list option {
	font-size: 17px;
}

.searching-bar {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	height: 40px;
	margin-left: 5%;
	margin-right: 2%;
	width: 80%;
}


#player-table {
	background-color: white;
	border-color: var(--grey-border-color);
	border-style: ridge;
	border-width: 1px;
	margin: 5% auto 0 auto;
	width: 80%;
}

.table-data {
	background-color: white;
	border-color: var(--grey-border-color);
	border-style: ridge;
	border-width: 1px;
}

#team-tournaments-stages-table {
	width: 70%;
}

#player-appearances-summary table {
	width: 80%;
}

.table-header {
	border-color: var(--grey-border-color);
	border-style: ridge;
	border-width: 1px;
	height: 40px;
	font-weight: bold;
}

#team-by-tournaments {
	margin-bottom: 40px;
}

tr {
	height: 50px;
	border-style: ridge;
	border-width: 1px;
	border-color: var(--light-grey-border-color);
}

td, th {
	padding-left: 70px;
}

.row-on-hover-grey {
	color: rgb(73, 77, 80);
}

.row-on-hover-grey:hover {
	background-color: rgba(192, 190, 190, 0.25);
}

#player-profile {
	display: flex;
	margin: 5% 10% 0 10%;
	background-color: white;
	border-color: var(--light-grey-border-color);
	border-style: ridge;
	border-width: 1px;
}

#player-profile ul {
	margin-top: 0px;
}

#player-profile li {
	color: rgb(73, 77, 80);
	padding: 5px 0;
}

#player-profile-pic {
	height: 240px;
	width: 240px;
}

#team-top-scorers-table {
	width: 100%;
}

#player-general-info, #player-profile-pic {
	display: inline-block;
}

#player-general-info {
	margin-left: 10%;
	text-align: left;
}

.no-bullet-list {
	list-style-type: none;
}

.container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 600px;
	margin: 0 auto 30px auto;
	padding: 20px;
}

.profile-pic {
	flex: 0 0 150px;
	margin-right: 20px;
}

.profile-pic img {
	border-radius: 50%;
	display: block;
	height: auto;
	max-width: 100%;
}

.user-info {
	flex: 1 1 auto;
}

.user-info h1 {
	font-size: 32px;
	margin-bottom: 10px;
}

.user-info h2 {
	color: #666;
	font-size: 24px;
	margin-bottom: 10px;
}

.user-info p {
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.user-info span {
	font-weight: bold;
}

.navigation-item {
	background-color: #1e0461;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	display: inline-block;
	font-size: 16px;
	margin: 10px 40px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.navigation-item:hover {
	background-color: #170349;
	transform: translateY(-3px);
}

.pie-chart {
	width: 500px;
	height: 500px;
	margin: auto;
}

.pie-chart h1 {
	font-size: 20px;
	text-align: center;
}

#player-matches-section {
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.dashboard-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 125px;
	margin: 5px;
	overflow: hidden;
	text-align: center;
	transition: 0.33s;
	width: 280px;
}

.dashboard-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#player-goals-cards-section {
	display: flex;
	justify-items: center;
	justify-content: center;
}

#player-goals-cards-section .dashboard-card {
	margin: 20px 40px;
}


.dashboard-card h3 {
	color: var(--blue-accent-color);
	margin-top: 20px;
	font-size: 40px;
}

.dashboard-card p {
	color: #666;
	font-size: 16px;
	margin-bottom: 20px;
}

.inline-dashboard-cards {
	display: inline-flex;
}


.center {
	align-items: center;
	justify-content: center;
}

.grid-container {
	width: 90%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
	padding: 0px;
}

.dashboard-container {
	background-color: white;
	border-radius: 5%;
	padding: 10px;
	text-align: center;
}

#team-matches-results {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

#all-matches-of-team {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
}

#minutes-by-players {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
}

#goals-by-opponent {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
}

#team-goals-by-tournament {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}

#team-top-scorers-container {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	text-align: center;
}

#team-records {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 4;
}

#team-biggest-defeat-table {
	width: 100%;
}

#team-biggest-win-table {
	width: 100%;
}

.chart-container {
	background-color: white;
	text-align: center;
}

#team-biggest-defeat-container {
	margin-bottom: 20px;
}

.team-cards-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.team-cards-container .dashboard-card {
	margin: 0 36px 48px 36px; 
}


.page-title h1 {
	text-align: center;
	margin: 30px;
}

.dropdown-button {
	background-color: var(--blue-accent-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	color: white;
	/* font-size: 16px; */
	transition: all 0.2s ease-in-out;
}


.match-score-container {
	background-color: white;
	text-align: center;
	border-radius: 10px;
}

.match-card {
	width: 380px;
	background-color: white;
}

.match-card h4 {
	color: var(--blue-accent-color);
} 

.match-card span {
	font-size: 20px;
}

#tournament-reports-container {
	display: flex;	
	gap: 30px;
	justify-content: space-between;
	width: 90%;
}

.left-col {
	width: 69%;
	align-items: left;
 }



.right-col {
	width: 29%;
	align-items: right;
}

#goals-difference-by-team-container {
	margin: 10px;
}

#tournament-top-scorers {
	margin: 10px;
}

#goals-by-minutes-container {
	margin: 10px;
}

#most-goals-in-match {
	margin: 10px;
}