h1 {
	margin: 10% 0 5% 0;
	text-align: center;
}

.user-info h1 {
	text-align: left;
}

.dropdown-list {
	height: 40px;
	margin-left: 5%;
	margin-right: 2%;
	width: 80%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-list option {
	font-size: 17px;
}

#team-tournaments-stages-table {
	width: 70%;
}

#top-scorers {
	width: 100%;
}

#team-matches-results {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

#all-matches-of-team {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
}

#minutes-by-players {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
}

#goals-by-opponent {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
}

#team-goals-by-tournament {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}

#top-scorers {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	text-align: center;
}

#team-records {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 4;
}

#biggest-defeat {
	width: 100%;
	margin-bottom: 20px;
}

#biggest-win {
	width: 100%;
}

.team-cards-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

.team-cards-container .dashboard-card {
	margin: 0 36px 48px 36px; 
}

#tournaments-stages {
	margin-bottom: 40px;
	width: 70%;
}