:root {
  --element-width: 65%;
}

.match-date-header {
  align-items: center;
  background-color: var(--header-background);
  border-radius: var(--border-radius);
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  font-size: 18px;
}

.matches-list-container {
  margin: auto;
  width: var(--element-width);
}

.scoreboard-container {
  margin: 10px;
  box-shadow: var(--shadow);
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion,
.panel {
  width: var(--element-width);
  margin: auto;
}

.match-date-header {
  margin-top: 20px;
}

.panel {
  display: block;
  overflow: hidden;
}

.events {
  border-radius: var(--border-radius);
  margin: auto;
  width: var(--element-width);
  background-color: white;
  padding: 20px;
  box-shadow: var(--shadow);
}

.left {
  float: left;
}

.left .minute {
  order: 1;
}

.left img {
  order: 3;
}

.left .name { 
  order: 2; 
}

.right {
  float: right;
}

.events table {
  margin: auto;
  width: 65%;
}

.events table tbody td {
  display: flex;
  align-items: center;
  gap: 5px;
}

.events table tbody tr {
  line-height: 32px;
}

.right .name::after {
  content: "|";
  color: gray;
  margin: 2px;
}

.left .name::before {
  content: "|";
  color: gray;
  margin: 2px;
}

.name {
  font-weight: 300;
}

img {
  width: 20px;
  height: auto;
}

.summary .scorecard {
  padding: 20px;
  width: var(--element-width);
  box-shadow: var(--shadow);
  margin: 30px auto;
}


.squads-section {
  width: var(--element-width);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin: auto;
}

.squads {
  display: flex;
  justify-content: space-around;
}

.team-squad {
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}