:root {
  --header-background: #333C42;
}

.match-date-header {
  align-items: center;
  background-color: var(--header-background);
  border-radius: 10px;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  font-size: 18px;
}

.matches-list-container {
  margin: auto;
  width: 80%;
}

.scoreboard-container:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.scorecard {
  padding: 0;
}

.scoreboard-container {
  margin: 10px;
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion, .panel {
  width: 80%;
  margin: auto;
}
.match-date-header {
  margin-top: 20px;
}

.panel {
  display: block;
  overflow: hidden;
}

.match-details {
  margin: auto;
  width: 70%;
}

.left {
  float: left;
}

.right {
  float: right; 
}

.match-details td {
  display: flex;
  align-items: center;
  gap: 5px;
}

.name::after {
  content: "|";
  color: gray;
  margin: 2px;
}

img {
  width: 20px;
  height: auto;
}

.break {
  width: 100%;
}
