.not-found p {
    text-align: center;
}

.not-found img {
    width: 20vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.not-found-message {

    font-size: larger;
}

.not-found {
    color: gray;
}