.not-found {
    margin-top: 30px;
}

.not-found p {
    text-align: center;
}

.not-found img {
    width: 20vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.not-found-message {
    font-size: larger;
    margin: 20px;
}

.not-found {
    color: var(--second-text-color);
}