:root {
	--margin: 40px;
}

.show-more {
	margin: var(--margin);
}

#player-searching-form {
	margin: var(--margin) 0;
	border-radius: var(--border-radius);
	border: none;
	display: flex;
	justify-content: center;
}

.search-icon {
	width: 40px;
	height: 30px;
	background-color: var(--body-backgroud-color);
	cursor: pointer;
}

#player-searching-form button, .searching-bar {
	box-shadow: var(--shadow);
	border: none;
}

#player-searching-form button {
	background-color: var(--body-backgroud-color);
}

.searching-bar {
	height: 40px;
	padding: 0 10px;
	width: 80%;
}

#player-table {
	width: 70%;
}

#player-appearances-summary {
	width: 80%;
}

#player-matches-section {
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

#player-goals-cards-section {
	display: flex;
	justify-items: center;
	justify-content: center;
}

.pitch-positions {
	position: relative;
	margin: 0 auto 20px;
	max-width: 500px;
}

.pitch-positions img {
	width: 100%;
	height: auto;
}


.marker {
	background-color: black;
	border-color: var(--body-backgroud-color);
	border-radius: 50%;
	box-shadow: 0 0 0 4px #00000085, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	color: var(--body-backgroud-color);
	cursor: default;
	height: 50px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	user-select: none; 
	width: 50px;
}

.left-winger {
	left: 74%;
	top: 8%;
}

.right-winger {
	left: 74%;
	top: 76%;
}

.center-midfielder {
	left: 45%;
	top: 42%;
}

.defensive-midfielder {
	left: 30%;
	top: 42%;
}

.forward {
	left: 79%;
	top: 42%;
}

.center-back {
	left: 15%;
	top: 42%;
}

.left-back {
	left: 15%;
	top: 8%;
}

.right-back {
	left: 15%;
	top: 76%;
}


.attacking-midfielder {
	left: 65%;
	top: 42%;
}

.goal-keeper {
	left: 5%;
	top: 42%;
}

#charts {
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

#charts .dashboard-container {
	width: 500px;
	height: auto;
}

#awards {
	width: 70%;
}


.player-nationalities { 
	display: inline-flex;
	gap: 5px;
} 

.player-nationalities ul { 
	display: flex; 
	padding-inline-start: 0; 
	list-style: none; 
}

.nationality ~ .nationality::before {
	content: '/'; 
}