h1 {
	margin: 10% 0 5% 0;
	text-align: center;
}

.user-info h1 {
	text-align: left;
}

.dropdown-list {
	height: 40px;
	margin-left: 5%;
	margin-right: 2%;
	width: 80%;
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.dropdown-list option {
	font-size: 17px;
}

#team-tournaments-stages-table {
	width: 70%;
}

#top-scorers {
	width: 100%;
}

#team-matches-results {
	grid-area: 1 / 1 / 1 / 1;
}

#all-matches-of-team {
	grid-area: 1 / 2 / 1 / 4;
}

#minutes-by-players {
	grid-area: 2 / 1 / 2 / 4;
}

#goals-by-opponent {
	grid-area: 3 / 2 / 3 / 4;
}

#team-goals-by-tournament {
	grid-area: 3 / 1 / 3 / 1;
}

#top-scorers {
	grid-area: 4 / 1 / 5 / 2;
}

#team-records {
	grid-area: 4 / 2 / 4 / 4;
}

#biggest-defeat {
	width: 100%;
	margin-bottom: 20px;
}

#biggest-win {
	width: 100%;
}

.team-cards-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

#tournaments-stages {
	margin-bottom: 40px;
	width: 70%;
}